<div class="container">
  <div class="grid-x">
    <div class="cell footer-background">
      <p class="footer-body text-center cell large-8 medium-8">
        {{t 'footer.body'}}
      </p>
    </div>
  </div>
</div>
