<div class="container">
  <div class="menu top-navigation grid-x grid-margin-x">
    <div class="cell large-10">
      {{#link-to "index"}}
        <h1 class="menu-title">
          ReCura
        </h1>
      {{/link-to}}
    </div>
    <div class="grid-x">
      <div class="menu-item links cell large-2 medium-2">
        {{#link-to "about" class="menu-about menu-links"}}
          About
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
