.search-button {
  background-color: $oxblood;
  border-radius: 5px;
  color: $white;
  font-size: $tRG;
  line-height: 0.25;
  margin: auto $mrXXS;
  max-height: 2.25rem;
  padding: $ptSM $prRG;
  width: 40%;
}
