.about-hero {
  width: 100%;
  height: 24rem;
}

.hero {
  &-background {
    background: url("/assets/img/background/restaurant-background-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }
  &-copy {
    color: $white;
    font-size: $tLG;
    font-weight: $heavyWeight;
    margin-top: $mt3XL;
  }
}
