.about-hero {
  width: 100%;
  height: 24rem;
}

.hero-background {
  background: url("/assets/img/background/restaurant-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
