.top-navigation {
  background-color: $white;
}

.menu {
  &-title {
    color: $fontBlack;
    font-size: $tXL;
    font-style: normal !important;
    font-weight: $regularWeight;
    letter-spacing: 0.86px;
  }
  &-links {
    color: $fontBlack;
    font-size: $tLG;
    font-weight: $regularWeight;
    text-align: right;
  }
}
