<div class="container">
  <div class="grid-x">
    <div class="cell about-hero hero-background">
      <p class="hero-copy text-center cell large-8 medium-8">
        Hello there. This is the home page and it is under construction
      </p>
      {{search-bar}}
    </div>
  </div>
</div>

{{restaurant-cards}}
{{main-footer}}
